html, 
body {
    margin: 0;
}

/* STRUCTURE */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements on top of each other by default */
    text-align: center;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Stack elements on top of each other */
    align-items: center;
}

nav ul li {
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1em;
}


.container {
    width: 90%;
    max-width: 900px;
    padding-top: 0.9em;
    margin: 0 auto;
}

article {
    margin-bottom: 1em;
}

.full-article, .me{
    margin: 0 1.25em;
}

footer {
    text-align: center;
    background-color: #212529;
    color: #ffffff;
    padding: 1.875em 0;
}

/* TYPOGRAPHY */

.feat-article-title {

}

.feat-article-info {

}

.article-title, {
    font-size: 1.5rem;
}

.article-title, .full-article-title {
    font-weight: 800;
}

.full-article-title {
    font-size: 1.125rem
}

.article-info, {
    font-weight: 500;
}

.recent-top {
    text-align: center;
}
/* IMAGES */

img {
    width: 100%;
}

.full-article-image{
    margin: 0 auto;
    max-width: 90%;
    display: block;
}

.selfie {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 90%;
    height: 90%;
    display: block;
    align-items: center;
    margin: 0 auto;
}

.feat-article {
    background-image: url("../images/MyLearningJournal.png"); /* Adjusted path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12em 2em;
    color: #ffffff;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* POST */

.article-info {
    text-transform: uppercase;
}

.article-img {
    margin-bottom: 1em;
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5em 0 0.35em;
}

.article-preview {
    margin-top: 0;
}

p {
    line-height: 1.3;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
    .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .posts article {
        flex: 1 220px;
    }
}

@media (min-width: 768px) {
    header {
        flex-direction: row; /* Arrange header elements in a row */
        padding-top: 1em;
        padding-bottom: 2em;
    }

    nav ul {
        flex-direction: row; /* Arrange nav elements in a row */
        justify-content: space-around;
    }

    nav ul li {
        width: auto;
    }
    
    .bio {
        display: flex;
        justify-content: space-between;
        margin: 0 6rem 3rem 3rem;
    }
    
    .hi {
        display: flex;
    }
    
    .full-article, .me {
        margin: 0 6.25em;
    }
    
    .full-article-image{
        margin: 0 auto;
        max-width: 90%;
    }
    
    .full-article-title{
        font-size: 1.75rem
    }
    
    .hi {
        padding-left: 1.75rem;
    }
    
     .selfie {
        margin-right: 1.25rem; /* Add right margin to create space */
    }
    
    .full-article, p, h3, .me p, h3, .hi, p {
        font-size: 1.125rem;
    } 
}  
